h1 {
    font-family: against;
    font-size: 170px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    margin: 0px auto 30px auto;
    padding: 20px;
}

h3 {
    font-family: gmarket sans ttf;
    text-align: right;
    padding-right: 20px;
}

a:any-link { color: dodgerblue; }

main {
    font-family: gmarket sans ttf;
    font-size: 20px;
    text-align: center;
    color: dodgerblue;
    margin: 40px;
    line-height: 150%;
}

summary:before {
    content: '> ';
}

pre {
    margin: 20px;
    white-space: pre;
}

#omg { color: black; }
#ditto { color: brown; }
#sourGrapes { color: black; }
#goodparts { color: goldenrod; }
#killBill { color: dodgerblue }

footer {
    font-family: gmarket sans ttf;
}

.favplaylist {
    margin: 40px;
    line-height: 200%;
}