* {
    background-color: black;
    font-family:akira;
    margin: 30px;
    text-align: center;
}

@font-face {
    font-family:akira;
    src: url(Akira\ Expanded\ Demo.otf);
 }

h1 {
    color: white;
    font-size: 70px;
    margin: 40px;
}

h2 {
    color: white;
    font-size: 27px;
}

img {
    width: 100px;
}

.pointer {cursor: pointer;}
