* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

figcaption {
    font-size: 20px;
    margin: 20px;
}

:any-link {
    color: lightgoldenrodyellow;
}

a:hover {
    color: gold;
}



.twhite {
    background-color: white;
    height: 80vh;
    width: 80vw;
    z-index: -5;
}

#floated {
    display: flex;
    justify-content: center;
}

.nborder {
    border: 10px solid black;
    width: 78vw;
    height: 78vh;
    position: relative;
    top: 1vh;
    left: 1vw;
}

@font-face {
    font-family: ftext;
    src: url(/gallery/ftext.ttf);
}

.ftextright {
    font-family: ftext;
    font-size: 5vw;
    text-align: left;
    color: black;
    writing-mode: vertical-lr;
    position: absolute;
    right: 0vw;
}

.ftextbtm {
    font-family: ftext;
    text-align: center;
    color: black;
    position: absolute;
    left: 25vw;
    bottom: 1vh;
}

.firstfinger {
    background-color: rgb(17, 22, 58);
    width: 5vw;
    height: 6vh;
    position: absolute;
    right: 5vw;
    transform: rotate(15deg);
    top: 40vh;
    border-radius: 30%;
    filter: blur(2px);
}

.secondfinger {
    background-color: rgb(17, 22, 58);
    width: 6vw;
    height: 12vh;
    position: absolute;
    transform: rotate(10deg);
    top: 22vh;
    right: 20vw;
    border-radius: 30%;
    filter: blur(2px);
}

.thirdfinger {
    background-color: rgb(17, 22, 58);
    width: 6vw;
    height: 15vh;
    position: absolute;
    top: 18vh;
    right: 33vw;
    border-radius: 30%;
    filter: blur(2px);
}

.fourthfinger {
    background-color: rgb(17, 22, 58);
    width: 6vw;
    height: 14vh;
    position: absolute;
    top: 20vh;
    right: 45vw;
    transform: rotate(-10deg);
    border-radius: 30%;
    filter: blur(2px);
}

.fifthfinger {
    background-color: rgb(17, 22, 58);
    width: 6vw;
    height: 10vh;
    position: absolute;
    top: 28vh;
    left: 10vw;
    transform: rotate(-30deg);
    border-radius: 30%;
    filter: blur(2px);
}

.palm {
    background-color: rgb(17, 22, 58);
    width: 32vw;
    height: 20vh;
    position: absolute;
    top: 40vh;
    left: 19vw;
    border-radius: 30%;
    filter: blur(2px);
}

.blur {
    background-color: rgb(80, 164, 206);
    width: 40vw;
    height: 28vh;
    position: absolute;
    top: 40vh;
    left: 19vw;
    border-radius: 30%;
    filter: blur(50px);
    z-index: -1;
}