* {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 100px;
    margin: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

figcaption {
    font-size: 20px;
    margin: 20px;
}

:any-link {
    color: lightgoldenrodyellow;
}

a:hover {
    color: gold;
}



/* tategumi-yokogumi */
#tategumi-yokogumi {
    display: flex;
    justify-content: center;
}

.twhite {
    background-color: white;
    height: 800px;
    width: 600px;
}

.tblack {
    background-color: black;
    height: 733px;
    width: 575px;
    position: relative;
    left: 12.5px;
    top: 12.5px;
}

.ttextbackground1 {
    width: 35px;
    height: 733px;
    background-image: linear-gradient(#f8516a, #ef8a71, #eed885, #eee98f, #cad890, #83b593, #6ca49e, #4991ae, #3360aa, #2f4395, #40358c, #6d3d91);
}

@font-face {
    font-family: eulyoo;
    src: url(/gallery/eulyoo1945semibold.otf);
}

.ttext {
    font-family: eulyoo;
    writing-mode: vertical-lr;
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 30px;
    height: 733px;
    width: 575px;
}

.ttextleft {
    text-align: left;
}

.ttextright {
    text-align: left;
    position: relative;
    left: 505px;
}

.ga {
    background-color: #f8516a;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 575px;
    height: 30px;
    opacity: 70%;
}

.ttitle {
    color: black;
    position: relative;
    top: 15px;
    text-align: center;
    font-family: eulyoo;
}



/* nu-bodies */
#nu-bodies {
    display: flex;
    justify-content: center;
}

.nwhite {
    background-color: rgb(230, 230, 230);
    height: 800px;
    width: 600px;
}

@font-face {
    font-family: retrosans;
    src: url(/gallery/establishretrosansotf.otf);
}

.nubodies {
    color: black;
    font-family: retrosans;
    font-size: 70px;
}

.boxleftbtm {
    width: 80px;
    height: 220px;
    background-color: black;
}

@font-face {
    font-family: americantypewriter;
    src: url(/gallery/americantypewriter.ttc);
}

.detroitfocus {
    color: black;
    font-family: americantypewriter;
    font-size: 30px;
    width: min-content;
}

.boxleftmid {
    background-color: black;
    color: rgb(230, 230, 230);
    width: fit-content;
    font-size: 23px;
    padding: 20px;
}

.names1 {
    color: black;
    font-family: retrosans;
    font-size: 23px;
    background-color: rgb(230, 230, 230);
}

.names2 {
    color: black;
    font-family: retrosans;
    font-size: 30px;
    background-color: rgb(230, 230, 230);
}

.textrightbtm {
    color: black;
    font-family: serif;
    font-size: 10px;
}

.boxmidbtm {
    background-color: black;
    color: rgb(230, 230, 230);
    font-family: retrosans;
    font-size: 25px;
    padding: 20px;
    width: fit-content;
}

.boxmidbtm2 {
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
    color: black;
    font-family: serif;
    font-style: italic;
}

.march2 {
    font-family: retrosans;
    font-size: 25px;
    text-align: right;
    width: 350px;
    border: 2px solid rgb(230, 230, 230);
}



/* floated */
#floated {
    display: flex;
    justify-content: center;
}

.nborder {
    border: 10px solid black;
    width: 590px;
    height: 790px;
    position: relative;
    top: 4px;
    left: 4px;
}

@font-face {
    font-family: ftext;
    src: url(/gallery/ftext.ttf);
}

.ftextright {
    font-family: ftext;
    font-size: 25px;
    text-align: right;
    color: black;
}

.ftextbtm {
    font-family: ftext;
    text-align: center;
    color: black;
}

.firstfinger {
    background-color: rgb(17, 22, 58);
    width: 50px;
    height: 80px;
}

.secondfinger {
    background-color: rgb(17, 22, 58);
    width: 50px;
    height: 200px;
}

.thirdfinger {
    background-color: rgb(17, 22, 58);
    width: 50px;
    height: 220px;
}

.fourthfinger {
    background-color: rgb(17, 22, 58);
    width: 50px;
    height: 200px;
}

.fifthfinger {
    background-color: rgb(17, 22, 58);
    width: 50px;
    height: 170px;
}

.palm {
    background-color: rgb(17, 22, 58);
    width: 300px;
    height: 320px;
}