@font-face {
    font-family:akira;
    src: url(../Akira\ Expanded\ Demo.otf);
}

body {
    background-color: black;
    font-family: akira;
    font-size: 70px;
}

ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

:any-link {
    text-decoration: none;
    color: white;
}

:any-link:hover {
    text-decoration: none;
    color: mediumseagreen;
}