* {
    color: white;
    text-align: center;
    background-image: url(/reviewmuseum/seats.jpeg);
    background-size: cover;
}

@font-face {
    font-family: favoritHangul1;
    src: url(/reviewmuseum/FavoritHangul-Medium.otf);
}

h1 {
    font-family: favoritHangul1;
    font-size: xx-large;
    margin: 5%;
    padding: 5px;
}

@font-face {
    font-family: favoritHangul2;
    src: url(/reviewmuseum/FavoritHangul-Light.otf);
}

p {
    font-family: favoritHangul2;
    margin: 3%;
}

body {
    position: relative;
    animation: moving 5s;
    animation-name: movingTexts;
    transition-timing-function: ease-in-out;
}

@keyframes movingTexts {
    from {transform: translateY(100%); color: black;}
    to {transform: translateY(0%); color: white;}
}

:any-link {
    font-family: favoritHangul1;
    color: darkred;
    font-size: x-large;
    margin: 5%;
    border: solid 1px snow;
    padding: 5px;
    border-style: dashed;
}

:any-link:hover {
    color: slategrey;
}