* {
    background-color: white;
    color: black;
    text-align: center;
}

@font-face {
    font-family: favoritHangul1;
    src: url(/reviewmuseum/FavoritHangul-Medium.otf);
}

h1 {
    font-family: favoritHangul1;
    font-size: x-large;
    margin: 5%;
}

@font-face {
    font-family: favoritHangul2;
    src: url(/reviewmuseum/FavoritHangul-Light.otf);
}

p {
    font-family: favoritHangul2;
    margin: 3%;
}

:any-link {
    font-family: favoritHangul1;
    color: lightgrey;
    font-size: xx-large;
    margin: 5%;
}

:any-link:hover {
    color: black;
}