* {
    background-color: black;
}

@font-face {
    font-family: favoritHangul1;
    src: url(/reviewmuseum/FavoritHangul-Medium.otf);
}

h1 {
    text-align: center;
    font-size: x-large;
    font-family: favoritHangul1;
}

@font-face {
    font-family: favoritHangul2;
    src: url(/reviewmuseum/FavoritHangul-Light.otf);
}

p {
    text-align: center;
    font-size: medium;
    font-family: favoritHangul2;
}

.box {
    background-color: white;
    width: 90%;
    padding: 5%;
    margin: auto;
}
