* {
    background-color: black;
}

@font-face {
    font-family: favoritHangul1;
    src: url(/reviewmuseum/FavoritHangul-Medium.otf);
}

h1 {
    text-align: center;
    font-size: x-large;
    font-family: favoritHangul1;
}

@font-face {
    font-family: favoritHangul2;
    src: url(/reviewmuseum/FavoritHangul-Light.otf);
}

p {
    text-align: center;
    font-size: medium;
    font-family: favoritHangul2;
}

img {
    display: block;
    margin: auto;
    width: 20%;
    border: none;
}

.box {
    background-color: white;
    width: 90%;
    padding: 5%;
    margin: auto;
    border: solid black;
    border-width: 100px;
    border-image: url(/reviewmuseum/border.png) 33% round;
}

@media (max-width: 480px) {
    .box {
        border: none;
    }
}