* {
    background-color: lightgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: var(--spacing);
    display: grid;
    width: 100%;
}

@media (min-width: 600px) {
    body {--spacing: 32px;}
}

h1 {
    font-size: 300%;
    color: lightgray;
    font-weight: bolder;
}

h2 {
    color: lightgray;
    font-weight: bold;
}

container {
    background-image: url(/nycdata/assets/bookimg.jpeg);
    padding: 5px;
}

p {
    color: rgb(17, 17, 94);
    margin: 3px;
    font-size: larger;
}

ul {
    border-radius: calc(var(--spacing) / 4);
}

#graph {
    --total: calc(var(--counteeCullenNetwork) + var(--sewardParkNetwork) + var(--specialUnit));
    display: flex;
    height: calc(var(--spacing) * 2);
    overflow: hidden;
    width: 100%;
}

#graph li { 
    transition: width 3s ease-in-out;
    border-right: 3px solid lightgray;
    color: lightgray;
    text-align: center;
}

#graph .counteeCullenNetwork { width: calc(var(--counteeCullenNetwork) / var(--total) * 100%); }
#graph .sewardParkNetwork { width: calc(var(--sewardParkNetwork) / var(--total) * 100%); }
#graph .specialUnit { width: calc(var(--specialUnit) / var(--total) * 100%); }

.counteeCullenNetwork { background-color: rgb(236, 66, 66); }
.sewardParkNetwork { background-color: rgb(81, 81, 205); }
.specialUnit { background-color: rgb(240, 194, 101); }

#totalPrograms {
    max-width: 70%;
    height: auto;
    margin: var(--spacing);
}

#totalAttendance {
    max-width: 70%;
    height: auto;
    margin: var(--spacing);
}   