body {
    background-color: black;
}

@keyframes floating {
    0% {
        transform: translateY(0%);
        filter: blur(0);
    }
    50% {
        transform: translateY(-100%);
        filter: blur(10px);
    }
    100% {
        transform: translateY(100%);
        filter: blur(10px);
    }
}

@keyframes floatingtwo {
    100% {
        transform: translateY(-100%);
        filter: blur(10px);
    }
    50% {
        transform: translateY(100%);
        filter: blur(10px);
    }
    0% {
        transform: translateY(0%);
        filter: blur(0);
    }
}

.sphere {
    width: 200px;
    height: 200px;
    background: pink;
    border-radius: 50%;
    animation: floating 3s infinite alternate ease-in-out;
}

.spheretwo {
    width: 200px;
    height: 200px;
    background: rgb(255, 250, 192);
    border-radius: 50%;
    animation: floatingtwo 3s infinite alternate ease-in-out;
}

/* hangul animation */
.hangul {
    width: 800px;
    animation: hangul 3s ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes hangul {
    0% {
        transform: rotate(0turn);
        filter: blur(100px);
    }
    100%{
        transform: rotate(1turn);
        filter: blur(0);
    }
}